@model List<Product>;
@{
    ViewData["Title"] = "Home Page";
    var products = Model;
}

<div class="text-center">
    <h1 class="display-4">Product Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome</a>.</p>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>
                <a href="/Product/Create" class="btn btn-primary">Create</a>
            </th>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>
                        <a href="/Product/Update/@product.Id" class="btn btn-success">Update</a>
                        <a href="/Product/Delete/@product.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
